:root {
    --bg-color: #f0ffff;
    --bg-nav: #26538d;
    --text: #fff2ba;
    --highlight: #a7d5f2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

.title {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
}


/* fontes */

.abril-fatface-regular, .tituloIndex, .title {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


/* index */

aside {
    background-color: var(--bg-nav);
    position: fixed;
    width: 280px;
    height: 100%;
    padding: 0px 30px;
    inset: 0 auto 0 0;
}

.ancoras {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    margin-top: 80px;
}

.ancoras a {
    color: var(--text);
    text-decoration: none;
}

.ancoras a:hover {
    font-weight: bold;
    color: var(--highlight);
}

.ancoras i {
    margin-right: 8px;
}

.funcoes {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    background-color: var(--highlight);
    border-top: #000 solid 2px;
}

.funcoes span {
    background-color: var(--bg-color);
    border-radius: 50%;
    font-size: 35px;
    color: var(--bg-nav);
}

.funcoes span:hover {
    background-color: var(--highlight);
}

.iconeIndex {
    display: flex;
    justify-content: center;
}

.mainIndex {
    margin-left: 280px;
}

.tituloIndex {
    font-size: 100px;
    text-align: center;
}

.mainIndex p {
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 100px;
}

.content a {
    background-color: var(--bg-nav);
    padding: 35px;
    border: #000 solid 3px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 22px;
    color: var(--text);
}

.content a:hover {
    font-weight: bold;
    color: var(--highlight);
} 


/* navbar */

.navbar {
    background-color: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 15px;
}

.navbar a {
    color: var(--bg-nav);
    background-color: var(--bg-color);
    border-radius: 22px;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--highlight);
    font-weight: bold;
}

.botoes span {
    color: var(--bg-nav);
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
}

.botoes span:hover {
    background-color: var(--highlight);
}


/* gerador de senhas */

.senhap {
    text-align: center;
    margin-top: 70px;
}

.password {
    background-color: var(--bg-nav);
    color: var(--bg-color);
    border: #000 solid 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 30px 500px;
    font-size: 22px;
}

.password:hover {
    background-color: var(--highlight);
    color: #000;
}

.botaocopiar {
    display: flex;
    justify-content: center;
}